.event-slider {
  max-width: 100%;
  padding: 20px;
  justify-content: center;
  color: white;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.sport-select {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.sport-select select {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
}

.event-slide {
  padding: 10px;
}

.event-slide .event-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
}

.event-info {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
}

.event-year {
  display: inline-block;
  padding: 5px 10px;
  background-color: white;
  color: #4a0e82;
  border-radius: 10px;
  margin-right: 5px;
}

.event-info h3 {
  margin: 10px 0;
}

.event-details-button {
  background-color: #561558;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-details-button:hover {
  background-color: #87217f;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #5f5d60;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.close {
  color: #ff9500;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.join-button {
  background-color: #69167d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
